# Dependency directories
node_modules/

# Production build directory
dist/

# Logs
*.log
npm-debug.log*

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Miscellaneous
.DS_Store
Thumbs.db
